---
import ListingsApp from "../components/ListingsApp.jsx";
---

<html>
  <head>
    <title>Find a Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body style="margin:0;font-family:system-ui;">
    <ListingsApp client:load />
  </body>
</html>
