---
import "../styles/app.css";
import ListingsApp from "../components/ListingsApp.jsx";
---

<html>
  <head>
    <title>Find a Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <ListingsApp client:load />
  </body>
</html>
